 <% @article.comments.each do |comment| %>
                    <div class="comment-item">
                        <div class="">
                            <i class="fas fa-user fa-2x "></i>        
                        </div>
                        <div class="guest_comment-section">
                            <div>
                                <p class="guest-name"><%= comment.commenter%></p>
                            </div>
                            <div>
                                <p class="guest-content"><%= comment.body%></p>      
                            </div>
                        </div>     
                    </div>     
                       
                <% end %>