<div class="comment_create">
                <form class="comment_form">
                    <lable> Write your comments here...</lable>
                    <br/>
                    <div class="input-section">
                        <input class="name_field" type="text" placeholder="Your Name">
                        <input class="comment_field" type="text" placeholder="Your Comment">
                        <button type="submit"> Add Comment</button>
                    </div>
                </form>
            </div>
            <div class='view_comments-section'>
                <div class="">
                    <i class="fas fa-user fa-2x"></i>        
                </div>
                <div class="guest_comment-section">
                    <div>
                        <p class="guest-name">Veni</p>
                    </div>
                    <div>
                          <p class="guest-content">  Ipsum officia ea id irure eiusmod do aliquip excepteur duis.</p>      
                    </div>
                </div>
                                
            <div>