<div class="content">
    <div class="post_container">
        <article class="article_container">
            <div class="article_item">
                <header class="entry_header">
                    <div class="entry-meta">
                        <span class="byline">by PlanetSpark</span>
                    </div>

                    <h2 class="entry-title">
                         PlanetSpark Culture
                    </h2>
                </header>
                <div class="entry-content">
                    <p>Tempor ea irure quis id excepteur. Enim deserunt labore ex pariatur magna enim. Mollit amet est magna sunt excepteur magna ad mollit amet ad. Nisi elit ut in velit excepteur voluptate. Amet consectetur esse incididunt aute elit voluptate anim.
                    Est tempor culpa tempor laborum magna ut adipisicing nisi pariatur amet labore Lorem. Amet ipsum laboris consectetur reprehenderit mollit culpa velit elit ipsum officia. Irure proident laboris sint ullamco enim magna voluptate qui ad. Cupidatat reprehenderit cillum dolore ut mollit irure cillum non mollit esse mollit. Labore esse esse exercitation Lorem voluptate esse. Id ea eiusmod culpa quis ex duis sunt aliquip id pariatur dolor duis reprehenderit irure.Enim ipsum excepteur elit labore commodo amet veniam reprehenderit voluptate ad ullamco dolore aute. Proident elit qui reprehenderit veniam velit nisi minim. Consectetur reprehenderit consectetur ex dolore laborum enim. Enim ullamco adipisicing officia eiusmod anim adipisicing cillum voluptate fugiat mollit ipsum.Aute do dolor minim consequat velit consectetur minim aliquip id dolor elit sunt voluptate. Tempor eu deserunt elit amet. Fugiat magna enim et enim dolore excepteur veniam sit enim consequat sit incididunt.
                    Adipisicing ex reprehenderit anim velit velit irure aliqua mollit Lorem nulla adipisicing. Lorem voluptate aute ad nulla. Veniam duis quis consequat qui et elit laboris anim velit do cillum incididunt cillum.
                    Deserunt minim pariatur et consequat esse. Ut esse id nisi voluptate fugiat id laborum sit officia. Anim aliquip nisi voluptate minim officia. Veniam minim elit aliqua esse non tempor quis dolore ea officia.</p>
                </div>
                <div class="comment_create">
                        <form class="comment_form">
                            <lable> Write your comments here...</lable>
                            <br/>
                            <div class="input-section">
                            <input class="name_field" type="text" placeholder="Your Name">
                            <input class="comment_field" type="text" placeholder="Your Comment">
                            <button type="submit"> Add Comment</button>
                            </div>
                        </form>
                </div>
                <div class="comment_list">
                    <div class="guest">
                        <div class="guest-avatar">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="guest-description">
                            <p class="guest-name">Veni</p>
                            <div class="guest-comment">
                                Ipsum officia ea id irure eiusmod do aliquip excepteur duis.
                            <div>
                        </div>
                    </div>
                </div>
                
            </div>
        </article>
        <article class="article_container">
            <div class="article_item">
                <header class="entry_header">
                    <div class="entry-meta">
                        <span class="byline">by Abhishek Vema</span>
                    </div>

                    <h2 class="entry-title">
                        Elit ipsum cupidatat dolor dolor ipsum nostrud ad esse nulla.
                    </h2>
                </header>
                <div class="entry-content">
                    <p>Tempor ea irure quis id excepteur. Enim deserunt labore ex pariatur magna enim. Mollit amet est magna sunt excepteur magna ad mollit amet ad. Nisi elit ut in velit excepteur voluptate. Amet consectetur esse incididunt aute elit voluptate anim.
                    Est tempor culpa tempor laborum magna ut adipisicing nisi pariatur amet labore Lorem. Amet ipsum laboris consectetur reprehenderit mollit culpa velit elit ipsum officia. Irure proident laboris sint ullamco enim magna voluptate qui ad. Cupidatat reprehenderit cillum dolore ut mollit irure cillum non mollit esse mollit. Labore esse esse exercitation Lorem voluptate esse. Id ea eiusmod culpa quis ex duis sunt aliquip id pariatur dolor duis reprehenderit irure.Enim ipsum excepteur elit labore commodo amet veniam reprehenderit voluptate ad ullamco dolore aute. Proident elit qui reprehenderit veniam velit nisi minim. Consectetur reprehenderit consectetur ex dolore laborum enim. Enim ullamco adipisicing officia eiusmod anim adipisicing cillum voluptate fugiat mollit ipsum.Aute do dolor minim consequat velit consectetur minim aliquip id dolor elit sunt voluptate. Tempor eu deserunt elit amet. Fugiat magna enim et enim dolore excepteur veniam sit enim consequat sit incididunt.
                    Adipisicing ex reprehenderit anim velit velit irure aliqua mollit Lorem nulla adipisicing. Lorem voluptate aute ad nulla. Veniam duis quis consequat qui et elit laboris anim velit do cillum incididunt cillum.
                    Deserunt minim pariatur et consequat esse. Ut esse id nisi voluptate fugiat id laborum sit officia. Anim aliquip nisi voluptate minim officia. Veniam minim elit aliqua esse non tempor quis dolore ea officia.</p>
                </div>
                <div class="comment_create">
                        <form class="comment_form">
                            <lable> Write your comments here...</lable>
                            <br/>
                            <div class="input-section">
                            <input class="name_field" type="text" placeholder="Your Name">
                            <input class="comment_field" type="text" placeholder="Your Comment">
                            <button type="submit"> Add Comment</button>
                            </div>
                        </form>
                </div>
                <div class="comment_list">
                    <div class="guest">
                        <div class="guest-avatar">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="guest-description">
                            <p class="guest-name">Dumbledor</p>
                            <div class="guest-comment">
                            Magna velit cillum aute nulla cupidatat irure sint.
                            <div>
                        </div>
                    </div>
                </div>
               
            </div>
        </article>
    </div>
</div>