<div class="ui inverted vertical footer segment" id='footer'>
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
       <div class="ui stackable five column grid">
            <div class="column"></div>
            <div class="column"></div>
            <div class="column">
                © 2021 BlogDiary, Inc.
            </div>
            <div class="column"></div>
            <div class="column"></div>
        </div>
        </div>
    </div>
</div>